<h1>Listing bookings</h1>
<%= link_to 'New Booking', new_booking_path %>
<br> 
<table border="1">
  <tr>
    <th>Time</th>
    <th></th>
    <th>Arcade</th>
    <th>Edit</>
    <th>Delete</>
    <th></th>
    <th>Pool</th>
    <th>Edit</th>
    <th>Delete</th>
    <th></th>
    <th>Foosball</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @counter = 0 %>
  <% for i in 9..17  %>
	<% for j in 0..3 %>
	<% @counter = @counter + 1 %>
	  <tr>
		<% if j == 0 %>
                        <td><%=i%>:00</td>
                <% else %>
                        <td><%=i%>:<%=j*15%></td>
                <% end %>
		<td></td>
		<% @atArcade = "" %>
		<% @atPool = "" %>
		<% @atFoosball = "" %>
		<% @bookings.each do |booking| %>
			<% if booking.time.to_s == (@counter - 1).to_s %>
				<% if booking.station == "Arcade" %>
					<% if @atArcade != "" %> 
						<% booking.delete %>
						<font size="10" color="red">TIME IS ALREADY RESERVED!</font> 
					<% else %>
						<% @atArcade = booking.name  %>
                                		<%@curArcade = booking%>
					<% end %>
				<% elsif booking.station == "Pool" %>
					<% if @atPool != "" %>
						<% booking.delete %>
                                                <font size="10" color="red">TIME IS ALREADY RESERVED!</font>
                                        <% else %>
						<% @atPool = booking.name %>
                                		<%@curPool = booking%>
					<% end %>
				<% else %>
					<% if @atFoosball != "" %>
						<% booking.delete %>
                                                <font size="10" color="red">TIME IS ALREADY RESERVED!</font>
                                        <% else %>
						<%@atFoosball = booking.name %>
                                		<%@curFoosball = booking%>
					<% end %>
				<%end%>
			<%end%>
		<%end%>
		  <% if @atArcade != "" %>
	  	  <td><%= link_to @atArcade, @curArcade %></td>
		  <td><%= link_to 'Edit', edit_booking_path(@curArcade) %></td>
                  <td><%= link_to 'Delete', booking_path(@curArcade),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  <% else %>
		  <td></td>
		  <td></td>
		  <td></td>
		  <%end%>
		  <th></th>
		  <% if @atPool != "" %>
                  <td><%= link_to @atPool, @curPool %></td>
                  <td><%= link_to 'Edit', edit_booking_path(@curPool) %></td>
                  <td><%= link_to 'Delete', booking_path(@curPool),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% else %>
                  <td></td>
                  <td></td>
                  <td></td>
                  <%end%>
		  <th></th>
		  <% if @atFoosball != "" %>
                  <td><%= link_to @atFoosball, @curFoosball %></td>
                  <td><%= link_to 'Edit', edit_booking_path(@curFoosball) %></td>
                  <td><%= link_to 'Delete', booking_path(@curFoosball),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% else %>
                  <td></td>
                  <td></td>
                  <td></td>
                  <%end%>
		  
	  </tr>
	<%end%>
  <%end%>
</table>

 
