<h1>Listing bookings</h1>
<%= link_to 'New Booking', new_booking_path %>
<br> 
<table border="1">
  <tr>
    <th>Arcade</th>
    <th>Pool</th>
    <th>Foosball</th>
    <th>Time</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @counter = 0 %>
  <% for i in 9..17  %>
	<% for j in 0..3 %>
	<% @counter = @counter + 1 %>
	  <tr>
		<% @hasBooking = false %>
		<% @atArcade = "" %>
		<% @atPool = "" %>
		<% @atFoosball = "" %>
		<% @bookings.each do |booking| %>
			<% if booking.time.to_s == (@counter - 1).to_s %>
				<% if booking.station == "Arcade" %>
					<% if @atArcade != "" %> 
						<% booking.delete %>
						<font size="10" color="red">TIME IS ALREADY RESERVED!</font> 
					<% else %>
						<% @atArcade = booking.name  %>
						<%@hasBooking = true%>
                                		<%@curBooking = booking%>
					<% end %>
				<% elsif booking.station == "Pool" %>
					<% if @atPool != "" %>
						% booking.delete %>
                                                <font size="10" color="red">TIME IS ALREADY RESERVED!</font>
                                        <% else %>
						<% @atPool = booking.name %>
						<%@hasBooking = true%>
                                		<%@curBooking = booking%>
					<% end %>
				<% else %>
					<% if @atFoosball != "" %>
						% booking.delete %>
                                                <font size="10" color="red">TIME IS ALREADY RESERVED!</font>
                                        <% else %>
						<% @atFoosball = booking.name %>
						<%@hasBooking = true%>
                                		<%@curBooking = booking%>
					<% end %>
				<%end%>
			<%end%>
		<%end%>
	  	  <td><%= @atArcade %></td>
          	  <td><%= @atPool %></td>
		  <td><%= @atFoosball %></td>
		  <% if j == 0 %>
			<td><%=i%>:00</td>
		  <% else %>
			<td><%=i%>:<%=j*15%></td>
		  <% end %>
		  <% if @hasBooking == true %>
			<td><%= link_to 'Show', @curBooking %></td>
      			<td><%= link_to 'Edit', edit_booking_path(@curBooking) %></td>
      			<td><%= link_to 'Destroy', booking_path(@curBooking),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  <%else%>
			<td></td>
			<td></td>
			<td></td>
		  <%end%>
	  </tr>
	<%end%>
  <%end%>
</table>

 
