<p>
  <strong>Station:</strong>
  <%= @booking.station %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<h2>Comments</h2>
<%= render @booking.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Edit Booking', edit_booking_path(@booking), :class => "btn btn-info active"  %> 
<%= link_to 'Back to Bookings', bookings_path, :class => "btn btn-warning active"  %>
